<div class="main-container">

  <div class="signin sign-in-home"> <!-- ACCOUNT (RIGHT-CONTAINER) -->
    <h1 class="titular">Welcome to RunningBuddy
      <br /> Running alone is boring...</h2>
    <p>Find someone to run with in your city</p>
    <div class="input-container">
        <input type="text" placeholder="yourname@gmail.com" class="email text-input">
        <div class="input-icon envelope-icon-acount"><span class="fontawesome-envelope scnd-font-color"></span></div>
    </div>

    <a class="fb-sign-in" href="58">
        <p><span class="fb-border"><span class="icon zocial-facebook"></span></span>Sign in with Facebook</p>
    </a>
  </div><!-- end account block -->

</div>

// <script>
//   $(function() {
//       var BV = new $.BigVideo();
//       BV.init();
//       BV.show('http://sarmadbokhari.com/rocky.mp4');
//   });
// </script>
