<div class="bigvid">
  <video class="rocky-video" loop autoplay preload='auto'>
    <source src="http://sarmadbokhari.com/rocky.mp4" type="video/mp4" />
  </video>
</div>

<div class="signin sign-in-home"> <!-- ACCOUNT (RIGHT-CONTAINER) -->
  <center><a href="/dashboard" class="dashboard">
    <%= image_tag 'rb_logo.png' %></a>
  </center>
  <h1 class="titular">Running alone is boring... <br><p>Find someone to run with in your city</p>
  <!-- <div class="input-container">
      <input type="text" placeholder="yourname@gmail.com" class="email text-input">
      <div class="input-icon envelope-icon-acount"><span class="fontawesome-envelope scnd-font-color"></span></div>
  </div> -->

    <a class="fb-sign-in" href="/dashboard" target="_blank">
        <span class="fb-border"><span class="icon zocial-facebook"></span></span>Sign in with Facebook
    </a>

</div><!-- end account block -->
