<!-- <h1>Welcome to RunningBuddy - Find someone to run with</h1> -->



<script>
  $(function() {
      var BV = new $.BigVideo();
      BV.init();
      BV.show('http://vjs.zencdn.net/v/oceans.mp4');
  });
</script>
