<!-- <h1>Welcome to RunningBuddy - Find someone to run with</h1> -->

<h1>Welcome to RunningBuddy</h1>
<h3>Running alone is boring...</h3>
  <h3>find someone to run with in your city</h3>

<div class="login-wrap">
  <h2>Login</h2>
  <div class="form">
    <input type="text" placeholder="Username" name="un" />
    <input type="password" placeholder="Password" name="pw" />
    <button> Sign in </button>
    <a href="#"> <p> Don't have an account? Register </p></a>
  </div>
</div>

<script>
  $(function() {
      var BV = new $.BigVideo();
      BV.init();
      BV.show('http://sarmadbokhari.com/rocky.mp4');
  });
</script>

