<div class="main-container">

    <img src="assets/rb_logo.png">
    <!-- HEADER MENU -->
    <%= render "shared/menu" %>

    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
        <%= render "shared/menu_box" %>

        <a href="/posts/new"><h2 class="titular icon">POST A RUN</h2></a>


    </div><!-- end left-container -->



    <!-- RIGHT-CONTAINERS -->
    <div class="middle-container post-container">

        <div class="post-profile block"> <!-- RUNNING POST (MIDDLE-CONTAINER) -->

          <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
          <h1 class="post-title">Run @ <span class="location">8th and Congress</span> - <span class="date">Tomorrow</span>, <span class="time">5:30 pm</span></h1>

          <div class="map-display clear">
              <iframe width='100%' height='240px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/sarmadbokhari.ho458c5h/attribution,zoompan,zoomwheel,geocoder.html'></iframe>
          </div>

          <!-- <div class="profile-description">
              <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
          </div> -->
          <ul class="profile-options horizontal-list">
              <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Join</p></a></li>
              <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>7 min/mi</p></a></li>
              <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>3/7 Runners</p></a></li>
              <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Everyone</p></a></li>
          </ul>
        </div>


        <div class="post-profile block"> <!-- RUNNING POST (MIDDLE-CONTAINER) -->
  <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
  <h1 class="post-title">Run @ <span class="location">5th and Guadalupe</span> - <span class="date">Tomorrow</span>, <span class="time">6:30 pm</span></h1>

  <div class="map-display clear">
      <iframe width='100%' height='240px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/sarmadbokhari.ho458c5h/attribution,zoompan,zoomwheel,geocoder.html'></iframe>
  </div>

  <!-- <div class="profile-description">
      <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
  </div> -->
  <ul class="profile-options horizontal-list">
      <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Join</p></a></li>
      <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>6 min/mi</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>1/5 Runners</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Women Only</p></a></li>
  </ul>
</div>

        <div class="post-profile block"> <!-- RUNNING POST (MIDDLE-CONTAINER) -->
  <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
  <h1 class="post-title">Run @ <span class="location">2nd and Brazos</span> - <span class="date">6/2</span>, <span class="time">6:15 pm</span></h1>

  <div class="map-display clear">
      <iframe width='100%' height='240px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/sarmadbokhari.ho458c5h/attribution,zoompan,zoomwheel,geocoder.html'></iframe>
  </div>

  <!-- <div class="profile-description">
      <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
  </div> -->
  <ul class="profile-options horizontal-list">
      <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Join</p></a></li>
      <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>9 min/mi</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>3/5 Runners</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Men Only</p></a></li>
  </ul>
</div>

        <div class="post-profile block"> <!-- RUNNING POST (MIDDLE-CONTAINER) -->
  <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
  <h1 class="post-title">Run @ <span class="location">7th and Lavaca</span> - <span class="date">6/2</span>, <span class="time">6:15 pm</span></h1>

  <div class="map-display clear">
      <iframe width='100%' height='240px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/sarmadbokhari.ho458c5h/attribution,zoompan,zoomwheel,geocoder.html'></iframe>
  </div>

  <!-- <div class="profile-description">
      <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
  </div> -->
  <ul class="profile-options horizontal-list">
      <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Join</p></a></li>
      <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>7 min/mi</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>5/6 Runners</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Everyone</p></a></li>
  </ul>
</div>

    </div>

    <%= render "shared/footer" %>

</div> <!-- end main-container -->
