<div class="main-container">

    <!-- HEADER MENU -->
    <%= render "shared/menu" %>

    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
        <%= render "shared/menu_box" %>

        <a href="/posts/new"><h2 class="titular icon">POST A RUN</h2></a>


    </div><!-- end left-container -->



    <!-- RIGHT-CONTAINERS -->
    <div class="middle-container post-container">

        <div class="post-profile block"> <!-- RUNNING POST (MIDDLE-CONTAINER) -->
          <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
          <h1 class="post-title">Run @ <span class="location">8th & Congress</span> - <span class="date">TODAY</span>, <span class="time">8pm</span></h1>

          <div class="map-display clear">
              <iframe width='100%' height='240px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/sarmadbokhari.ho458c5h/attribution,zoompan,zoomwheel,geocoder.html'></iframe>
          </div>

          <!-- <div class="profile-description">
              <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
          </div> -->
          <ul class="profile-options horizontal-list">
              <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Join</p></a></li>
              <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>8-9 mile/min</p></a></li>
              <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Max: 3</p></a></li>
              <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Open: 3</p></a></li>
          </ul>
        </div>

        <div class="post-profile block"> <!-- RUNNING POST (MIDDLE-CONTAINER) -->
          <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
          <h1 class="post-title">Run @ <span class="location">2nd & Brazos</span> - <span class="date">TOMORROW</span>, <span class="time">7am</span></h1>

          <div class="map-display clear">
              <iframe width='100%' height='240px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/sarmadbokhari.ho458c5h/attribution,zoompan,zoomwheel,geocoder.html'></iframe>
          </div>

          <!-- <div class="profile-description">
              <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
          </div> -->
          <ul class="profile-options horizontal-list">
              <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Join</p></a></li>
              <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>7-8 mile/min</p></a></li>
              <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Max: 5</p></a></li>
              <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Open: 2</p></a></li>
          </ul>
        </div>

        <div class="post-profile block"> <!-- RUNNING POST (MIDDLE-CONTAINER) -->
          <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
          <h1 class="post-title">Run @ <span class="location">The Capital</span> - <span class="date">Saturday</span>, <span class="time">8am</span></h1>

          <div class="map-display clear">
              <iframe width='100%' height='240px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/sarmadbokhari.ho458c5h/attribution,zoompan,zoomwheel,geocoder.html'></iframe>
          </div>

          <!-- <div class="profile-description">
              <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
          </div> -->
          <ul class="profile-options horizontal-list">
              <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Join</p></a></li>
              <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>9-10 mile/min</p></a></li>
              <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Max: 5</p></a></li>
              <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Open: 4</p></a></li>
          </ul>
        </div>


    </div>

    <%= render "shared/footer" %>

</div> <!-- end main-container -->
