<div class="main-container">

    <!-- HEADER MENU -->
    <%= render "shared/menu" %>

    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
        <%= render "shared/menu_box" %>

        <ul class="social horizontal-list block"> <!-- SOCIAL (LEFT-CONTAINER) -->
            <li class="facebook"><p class="icon"><span class="zocial-facebook"></span></p><p class="number">248k</p></li>
            <li class="twitter"><p class="icon"><span class="zocial-twitter"></span></p><p class="number">30k</p></li>
            <li class="googleplus"><p class="icon"><span class="zocial-googleplus"></span></p><p class="number">124k</p></li>
            <li class="mailbox"><p class="icon"><span class="fontawesome-envelope"></span></p><p class="number">89k</p></li>
        </ul>
    </div>

    <!-- RIGHT-CONTAINERS -->
    <div class="middle-container post-container">
        <div class="profile block"> <!-- RUNNING POST (MIDDLE-CONTAINER) -->
            <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
            <h1 class="post-title">Run @ <span class="location">LOCATION</span> - <span class="date">DATE</span>, <span class="time">TIME</span></h1>

            <div class="map-display clear">
                <iframe width='100%' height='240px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/sarmadbokhari.ho458c5h/attribution,zoompan,zoomwheel,geocoder.html'></iframe>
            </div>

            <!-- <div class="profile-description">
                <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
            </div> -->
            <ul class="profile-options horizontal-list">
                <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Join</p></a></li>
                <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>Pace:</p></a></li>
                <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Max runners:</p></a></li>
                <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Open to:</p></a></li>
            </ul>
        </div>
        <div class="profile block"> <!-- RUNNING POST (MIDDLE-CONTAINER) -->
            <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
            <h1 class="post-title">Run @ <span class="location">LOCATION</span> - <span class="date">DATE</span>, <span class="time">TIME</span></h1>

            <div class="map-display clear">
                <iframe width='100%' height='240px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/sarmadbokhari.ho458c5h/attribution,zoompan,zoomwheel,geocoder.html'></iframe>
            </div>

            <!-- <div class="profile-description">
                <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
            </div> -->
            <ul class="profile-options horizontal-list">
                <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Join</p></a></li>
                <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>Pace:</p></a></li>
                <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Max runners:</p></a></li>
                <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Open to:</p></a></li>
            </ul>
        </div>
        <div class="profile block"> <!-- RUNNING POST (MIDDLE-CONTAINER) -->
            <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
            <h1 class="post-title">Run @ <span class="location">LOCATION</span> - <span class="date">DATE</span>, <span class="time">TIME</span></h1>

            <div class="map-display clear">
                <iframe width='100%' height='240px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/sarmadbokhari.ho458c5h/attribution,zoompan,zoomwheel,geocoder.html'></iframe>
            </div>

            <!-- <div class="profile-description">
                <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
            </div> -->
            <ul class="profile-options horizontal-list">
                <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Join</p></a></li>
                <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>Pace:</p></a></li>
                <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Max runners:</p></a></li>
                <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Open to:</p></a></li>
            </ul>
        </div>
        <div class="profile block"> <!-- RUNNING POST (MIDDLE-CONTAINER) -->
            <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
            <h1 class="post-title">Run @ <span class="location">LOCATION</span> - <span class="date">DATE</span>, <span class="time">TIME</span></h1>

            <div class="map-display clear">
                <iframe width='100%' height='240px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/sarmadbokhari.ho458c5h/attribution,zoompan,zoomwheel,geocoder.html'></iframe>
            </div>

            <!-- <div class="profile-description">
                <p class="scnd-font-color">Lorem ipsum dolor sit amet consectetuer adipiscing</p>
            </div> -->
            <ul class="profile-options horizontal-list">
                <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Join</p></a></li>
                <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>Pace:</p></a></li>
                <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Max runners:</p></a></li>
                <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Open to:</p></a></li>
            </ul>
        </div>
</div> <!-- end main-container -->
