<div class="main-container">

    <!-- HEADER MENU -->
    <%= render "shared/menu" %>

    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
        <%= render "shared/menu_box" %>

    </div>

    <!-- RIGHT-CONTAINERS -->
    <div class="middle-container post-container">
      <div class="post-run-module block clear">

        <h2 class="titular"><span class="icon entypo-location"></span><strong>Post a Run</strong></h2>
        <br>

        <form action="new" method="POST">
            <div class="input-container">
                <label class="post-run">Date</label>
                <input type="date" name="date" placeholder="Date" class="email text-input">
            </div>
            <div class="input-container">
              <label class="post-run">Time</label>
                <input type="time" name="time" placeholder="Time" class="email text-input">
            </div>
            <div class="input-container">
              <label class="post-run">Location</label>
                <input type="text" name="location" placeholder="Location" class="email text-input">
            </div>
            <div class="input-container">
              <label class="post-run">Pace</label>
              <select name="pace">
                <option value="0">Military (> 6 min/mile)</option>
                <option value="1">Advanced (6-7 min/mile)</option>
                <option value="2">High Intermediate (7-8 min/mile)</option>
                <option value="3">Intermediate (8-9 min/mile)</option>
                <option value="4">High Beginner (9-10 min/mile)</option>
                <option value="5">Beginner (10-11 min/mile)</option>
              </select>
            </div>
            <div class="input-container">
              <label class="post-run">Distance</label>
                <input type="number" name="distance" placeholder="Estimate Distance" class="email text-input">
            </div>
            <div class="input-container">
              <label class="post-run">Age Preference</label>
              <select name="age_pref">
                <option value="1">16-17</option>
                <option value="2">18-22</option>
                <option value="2">23-29</option>
                <option value="4">30-39</option>
                <option value="5">40-49</option>
                <option value="6">50-59</option>
                <option value="7">60-69</option>
                <option value="8">70+</option>
              </select>
            </div>
            <div class="input-container">
              <label class="post-run">Gender Pref</label>
              <select name="gender_pref">
                <option value="FEMALE">Female</option>
                <option value="MALE">Male</option>
                <option value="BOTH">No RunningBuddy Gender Preference</option>
              </select>
            </div>
            <div class="input-container">
              <label class="post-run">Maximum Runners</label>
                <input type="text" name="max_runners" placeholder="Max Runners" class="password text-input">
            </div>

        <a class="sign-in button" href="#22">POST RUN</a>





      </div><!-- end of post-run-module -->

    </div>

</div> <!-- end main-container -->
