<div class="main-container">

    <!-- HEADER MENU -->
    <%= render "shared/menu" %>

    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
        <%= render "shared/menu_box" %>

    </div>

    <!-- RIGHT-CONTAINERS -->
    <div class="middle-container post-container">
      <div class="post-run-module block clear">

        <h2 class="titular"><span class="icon entypo-location"></span><strong>Make a RunningBuddy User Profile</strong></h2>
        <br>

        <form action="/users" method="POST">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <div class="input-container">
              <label class="post-run">Username</label>
                <input type="text" name="username" placeholder="username" class="email text-input">
            </div>
            <div class="input-container">
              <label class="post-run">Gender</label>
              <select name="gender">
                <option value="1">Female</option>
                <option value="2">Male</option>
                <option value="0">Decline</option>
              </select>
            </div>
            <div class="input-container">
              <label class="post-run">Pace</label>
              <select name="pace">
                <option value="0">Military (> 6 min/mile)</option>
                <option value="1">Advanced (6-7 min/mile)</option>
                <option value="2">High Intermediate (7-8 min/mile)</option>
                <option value="3">Intermediate (8-9 min/mile)</option>
                <option value="4">High Beginner (9-10 min/mile)</option>
                <option value="5">Beginner (10-11 min/mile)</option>
              </select>
            </div>
            <div class="input-container">
              <label class="post-run">Age</label>
              <select name="age_pref">
                <option value="1">16-17</option>
                <option value="2">18-22</option>
                <option value="2">23-29</option>
                <option value="4">30-39</option>
                <option value="5">40-49</option>
                <option value="6">50-59</option>
                <option value="7">60-69</option>
                <option value="8">70+</option>
              </select>
            </div>
            <div class="input-container">
              <label class="post-run">Describe yourself in one sentence</label>
                <input type="text" name="description" placeholder="Hobbies, talents, interests..." class="email text-input">
            </div>

        <button type='submit' class="sign-in button">CREATE PROFILE</button>

        </form>



      </div><!-- end of post-run-module -->

    </div>

</div> <!-- end main-container -->
