<div class="main-container">

    <!-- HEADER -->
    <%= render "shared/menu" %>

    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
        <%= render "shared/menu_box" %>

        <a href="/circles/new"><h2 class="titular icon">CREATE CIRCLE</h2></a>

    </div> <!-- end left-container -->

    <!-- MIDDLE-CONTAINER -->
    <div class="middle-container">
        <div class="circle-title">
            <h2 class="titular"><span class="icon entypo-location"></span><strong>Running Circles</strong></h2>
        </div>
    </div>

    <div class="middle-container container">

        <%= render "shared/group_module" %>

        <div class="group-profile block">
  <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
  <div class="profile-picture big-profile-picture clear">
     <img width="150px" alt="Capital Factory" src="https://origin.ih.constantcontact.com/fs124/1102597695407/img/416.jpg" >
  </div>
  <h1 class="user-name">GROUP NAME</h1>
  <div class="profile-description">
      <p class="scnd-font-color">Group Description</p>
  </div>
  <ul class="profile-options horizontal-list">
      <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Members</p></a></li>
      <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>Runs</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Pace</p></a></li>
  </ul>
</div>


  <div class="group-profile block">
  <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
  <div class="profile-picture big-profile-picture clear">
     <img width="150px" alt="Dropbox" src="http://phandroid.s3.amazonaws.com/wp-content/uploads/2012/12/Dropbox_logo.jpg" >
  </div>
  <h1 class="user-name">GROUP NAME</h1>
  <div class="profile-description">
      <p class="scnd-font-color">Group Description</p>
  </div>
  <ul class="profile-options horizontal-list">
      <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Members</p></a></li>
      <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>Runs</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Pace</p></a></li>
  </ul>
</div>

<div class="group-profile block">
  <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
  <div class="profile-picture big-profile-picture clear">
     <img width="150px" alt="Silvercar" src="https://www.silvercar.com/assets/fb_share_default.jpg" >
  </div>
  <h1 class="user-name">GROUP NAME</h1>
  <div class="profile-description">
      <p class="scnd-font-color">Group Description</p>
  </div>
  <ul class="profile-options horizontal-list">
      <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Members</p></a></li>
      <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>Runs</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Pace</p></a></li>
  </ul>
</div>


    </div>

    <!-- RIGHT-CONTAINER -->
    <div class="right-container container">

        <div class="group-profile block">
  <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
  <div class="profile-picture big-profile-picture clear">
     <img width="150px" alt="Spiceworks" src="https://dc080p1pxrpu1.cloudfront.net/products/4021/s100.png?1351124230" >
  </div>
  <h1 class="user-name">GROUP NAME</h1>
  <div class="profile-description">
      <p class="scnd-font-color">Group Description</p>
  </div>
  <ul class="profile-options horizontal-list">
      <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Members</p></a></li>
      <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>Runs</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Pace</p></a></li>
  </ul>
</div>

 <div class="group-profile block">
  <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
  <div class="profile-picture big-profile-picture clear">
     <img width="150px" alt="Thoughtworks" src="http://www.todaywalkins.com/Comp_images/Thoughtworks.jpg" >
  </div>
  <h1 class="user-name">GROUP NAME</h1>
  <div class="profile-description">
      <p class="scnd-font-color">Group Description</p>
  </div>
  <ul class="profile-options horizontal-list">
      <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Members</p></a></li>
      <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>Runs</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Pace</p></a></li>
  </ul>
</div>


 <div class="group-profile block">
  <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
  <div class="profile-picture big-profile-picture clear">
     <img width="150px" alt="Uber" src="http://blogcdn.uber.com/wp-content/uploads/2011/12/New-Logo-Vertical-Dark.jpg" >
  </div>
  <h1 class="user-name">GROUP NAME</h1>
  <div class="profile-description">
      <p class="scnd-font-color">Group Description</p>
  </div>
  <ul class="profile-options horizontal-list">
      <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Members</p></a></li>
      <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>Runs</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Pace</p></a></li>
  </ul>
</div>



       <div class="group-profile block">
  <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
  <div class="profile-picture big-profile-picture clear">
     <img width="150px" alt="Spredfast" src="http://allfacebook.com/files/2012/05/SpredfastLogo.jpg" >
  </div>
  <h1 class="user-name">GROUP NAME</h1>
  <div class="profile-description">
      <p class="scnd-font-color">Group Description</p>
  </div>
  <ul class="profile-options horizontal-list">
      <li><a class="comments" href="#40"><p><span class="scnd-font-color"></span>Members</p></a></li>
      <li><a class="views" href="#41"><p><span class="scnd-font-color"></span>Runs</p></a></li>
      <li><a class="likes" href="#42"><p><span class="scnd-font-color"></span>Pace</p></a></li>
  </ul>
</div>


    </div> <!-- end right-container -->

    <%= render "shared/footer" %>

</div> <!-- end main-container -->
