<div class="main-container">

    <!-- HEADER MENU -->
    <%= render "shared/menu" %>

    <!-- LEFT-CONTAINER -->
    <div class="left-container container">
        <%= render "shared/menu_box" %>

    </div>

    <!-- RIGHT-CONTAINERS -->
    <div class="middle-container post-container">
      <div class="post-run-module block clear">

        <h2 class="titular"><span class="icon entypo-location"></span><strong>Post a Run</strong></h2>
        <br>
        <form action="/circles" method="POST">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <div class="input-container">
                <label class="post-run">Name</label>
                <input type="text" name="name" placeholder="Circle name" class="email text-input">
            </div>
            <div class="input-container">
                <label class="post-run">Description</label>
                <input type="text" name="description" placeholder="Circle description" class="email text-input">
            </div>
            <div class="input-container">
              <label class="post-run">Location</label>
                <input type="text" name="location" placeholder="Address" class="email text-input">
            </div>
            <div class="input-container">
                <label class="post-run">Email</label>
                <input type="email" name="group_member_email" placeholder="User email" class="email text-input">
            </div>

            <button type="submit" class="sign-in button">Create group</button>

        </form>



      </div><!-- end of post-run-module -->

    </div>

</div> <!-- end main-container -->
