<header class="block">
    <ul class="header-menu horizontal-list">
        <li>
            <a class="header-menu-tab" href="/dashboard"><span class="icon fontawesome-user scnd-font-color"></span>Dashboard</a>
        </li>
        <li>
            <a class="header-menu-tab" href="/posts"><span class="icon fontawesome-envelope scnd-font-color"></span>Running Posts</a>
            <a class="header-menu-number" href="#4">5</a>
        </li>
        <li>
            <a class="header-menu-tab" href="/circles"><span class="icon fontawesome-star-empty scnd-font-color"></span>Running Circles</a>
        </li>
        <li>
            <a class="header-menu-tab" href="#1"><span class="icon entypo-cog scnd-font-color"></span>Account</a>
        </li>
    </ul>
    <div class="profile-menu">
        <p>Ifu <a href="/dashboard"><span class="entypo-down-open scnd-font-color"></span></a></p>
        <div class="profile-picture small-profile-picture">
            <img width="40px" alt="Anne Hathaway picture" src="https://avatars1.githubusercontent.com/u/6057187?s=460">
        </div>
    </div>
</header>
