<div class="weather block clear"> <!-- WEATHER (MIDDLE-CONTAINER) -->
  <h2 class="titular"><span class="icon entypo-location"></span><strong>WEATHER</strong> near you</h2>
  <div class="current-day">
      <p class="current-day-date">Today</p>

      <p class="current-day-temperature">24°<span class="icon-cloudy"></span></p>
  </div>
  <ul class="next-days">
      <li>
          <a href="#43">
              <p class="next-days-date"><span class="day">SAT</span> <span class="scnd-font-color">06/01</span></p>
              <p class="next-days-temperature">25°<span class="icon icon-cloudy scnd-font-color"></span></p>
          </a>
      </li>
      <li>
          <a href="#44">
              <p class="next-days-date"><span class="day">SUN</span> <span class="scnd-font-color">06/02</span></p>
              <p class="next-days-temperature">22°<span class="icon icon-cloudy2 scnd-font-color"></span></p>
          </a>
      </li>
      <li>
          <a href="#45">
              <p class="next-days-date"><span class="day">MON</span> <span class="scnd-font-color">06/03</span></p>
              <p class="next-days-temperature">24°<span class="icon icon-cloudy2 scnd-font-color"></span></p>
          </a>
      </li>
      <li>
          <a href="#46">
              <p class="next-days-date"><span class="day">TUE</span> <span class="scnd-font-color">06/04</span></p>
              <p class="next-days-temperature">26°<span class="icon icon-cloudy scnd-font-color"></span></p>
          </a>
      </li>
      <li>
          <a href="">
              <p class="next-days-date"><span class="day">WED</span> <span class="scnd-font-color">06/05</span></p>
              <p class="next-days-temperature">27°<span class="icon icon-sun scnd-font-color"></span></p>
          </a>
      </li>
      <li>
          <a href="">
              <p class="next-days-date"><span class="day">THU</span> <span class="scnd-font-color">06/06</span></p>
              <p class="next-days-temperature">29°<span class="icon icon-sun scnd-font-color"></span></p>
          </a>
      </li>
  </ul>
</div>
